
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .a1{
      text-decoration: none;
    }
    .a2{
      text-decoration: none;
    }

    .nav-div{
      height: 40px;
      width: 100%;
      background-color: aqua;
      
    }
    .nav{
      display: flex;
      justify-content:space-evenly;

    }
  </style>
</head>
<body>
  
<div class="nav-div">
  <div class="nav">
        <a href="/" class="a1">Home</a> 
        <a href="" class="a2">Transaction</a>     
  </div>
</div>
  
</body>
</html>