<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <style>
       .container{
             height:100vh;
             width: 100vw;
             border:2px solid  black;
             justify-content: center;
             align-items: center;
             margin: 0;
             padding: 0;
             
       }
    </style>
</head>
<body>
    
    <div class="container">
        <div class="box">

    <form action="/expenses" method="post">
        <h1>Expenses Details</h1>

    <label for="text">Expense Name</label>
    <input type="text" name="name" required>
    <label for="number">Amount </label>
    <input type="number" name="amount" required>
    <button>submit</button>

    </form>

    </div>
    </div>

    
</body>
</html>