<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <style>
        .container{
            margin: 0;
            padding: 0;
            height:100vh;
            width: 1000vw;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    
    <div class="container">

    <form action="/expenses" method="post">

    <label for="text">Expense Name</label>
    <input type="text" name="name" required>
    <label for="number">Amount </label>
    <input type="number" name="amount" required>
    <button>submit</button>

    </form>

    </div>

    
</body>
</html>