<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .logo{
            height:350px;
            width: 350px;
            position:absolute;
            top: 100px;
            left: 600px;;
        }

        .h1{
            position: absolute;
            top: 210px;;
        }
        .h11{
            position: absolute;
            top: 210px;
            left: 500px;
        }
    </style>
</head>
<body>
    <form action="/home">
        <img src=".\images\logo.png" alt="logo" class="logo">
        
        <h1 class="h1">Save Your Money </h1>
        <h1 class="h11">With Expense Tracker</h1>
        <button class="button">start</button>
    </form>
</body>
</html>