<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Transaction Page</title>
  <style>
     body {
      margin: 0;
      padding: 0;
      background-color: #121212;
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(135deg, #ff6ec4, #7873f5);
      color: #f0f0f0;
    }

    

    

  </style>
</head>
<body>


     hey this is the transaction pageq
     qv
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x
     x

     x

</body>
</html>
